<!--
wp:template-part {
	"slug": "header",
	"skipWrapper": true
}
/-->

<!--
wp:group {
	"tagName": "main",
	"className": "site-main",
	"layout": {
		"type": "default"
	},
	"metadata": {
		"name": "Site Main"
	}
}
-->
<main id="main" class="wp-block-group site-main">
	<!--
	wp:group {
		"tagName": "header",
		"className": "entry-header",
		"layout": {
			"type": "constrained"
		},
		"metadata": {
			"name": "Entry Header"
		}
	}
	-->
	<header class="wp-block-group entry-header">
		<!--
		wp:query-title {
			"type": "archive",
			"showPrefix": false,
			"level": 1,
			"className": "entry-title"
		}
		/-->
	</header>
	<!-- /wp:group -->

	<!--
	wp:query {
		"query": {
			"inherit": true
		},
		"layout": {
			"type": "constrained"
		}
	} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:columns -->
			<div class="wp-block-columns">
				<!-- wp:column {"width":"66.66%"} -->
				<div class="wp-block-column" style="flex-basis: 66.66%">
					<!--
					wp:post-title {
						"level": 2,
						"isLink": true
					}
					/-->

					<!--
					wp:group {
						"layout": {
							"type": "flex",
							"flexWrap": "wrap",
							"justifyContent": "left"
						},
						"metadata": {
							"name": "Entry Meta"
						}
					}
					-->
					<div class="wp-block-group">
						<!-- wp:post-author-name /-->

						<!-- wp:post-date /-->

					</div>
					<!-- /wp:group -->

					<!-- wp:post-excerpt /-->
				</div>
				<!-- /wp:column -->

				<!-- wp:column {"width":"33.33%"} -->
				<div class="wp-block-column" style="flex-basis: 33.33%">
					<!--
					wp:post-featured-image {
						"isLink": true,
						"ariaHidden": true
					}
					/-->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->
		<!-- /wp:post-template -->

		<!--
		wp:query-pagination {
			"paginationArrow": "chevron",
			"showLabel": false,
			"layout": {
				"type": "flex",
				"justifyContent": "left"
			}
		}
		-->
			<!-- wp:query-pagination-previous /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!--
wp:template-part {
	"slug": "footer",
	"skipWrapper": true
}
/-->
