<!--
wp:template-part {
	"slug": "header",
	"skipWrapper": true
}
/-->

<!--
wp:group {
	"tagName": "main",
	"className": "site-main",
	"layout": {
		"type": "default"
	},
	"metadata": {
		"name": "Site Main"
	}
}
-->
<main id="main" class="wp-block-group site-main">
	<!--
	wp:group {
		"tagName": "article",
		"layout": {
			"type": "default"
		},
		"metadata": {
			"name": "Article"
		}
	}
	-->
	<article class="wp-block-group">
		<!--
		wp:group {
			"tagName": "header",
			"className": "entry-header",
			"layout": {
				"type": "constrained"
			},
			"metadata": {
				"name": "Entry Header"
			}
		}
		-->
		<header class="wp-block-group entry-header">
			<!--
			wp:post-title {
				"level": 1,
				"className": "entry-title"
			}
			/-->
		</header>
		<!-- /wp:group -->

		<!--
		wp:post-content {
			"className": "entry-content",
			"layout": {
				"type": "constrained"
			}
		}
		/-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!--
wp:template-part {
	"slug": "footer",
	"skipWrapper": true
}
/-->
